[Unit]
Description=Run Minerva database backup daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30m
Unit=minerva-backup.service

[Install]
WantedBy=timers.target
